*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Extension artifacts
ext/*.a
ext/*.o
ext/*.so
ext/Makefile
ext/mkmf.log

# Platform specific
lib/*.so
test/*.png
test/*.bmp
test/*.tga
